body {
  margin: 0%;
  padding: 0%;
}

.main {
  display: flex;
  flex-direction: row;
}

.leftDiv {
  background-color: rgb(80, 80, 80);
  color: #fff;
  width: 23%;
  height: 1000px;
  text-align: right;
}

#tituloPrincipal {
  font-size: 60px;
  margin-right: 10px;
}

#copete {
  font-size: 40px;
  margin-right: 10px;
}

.leftButton {
  background-color: rgb(80, 80, 80);
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
